html,body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(161, 157, 159, 0.44);
    padding: 0;
    display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            font-family: sans-serif;

    ::-webkit-scrollbar {
        width: 10px; /* ширина для вертикального скролла */
        height: 40%; /* высота для горизонтального скролла */
        border-radius: 15px;

    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(150, 150, 150, 0.79);
        border-radius: 15px;

    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: rgba(150, 150, 150, 0.9);
        border-radius: 15px;
    }
}


        .content_vid {
    border: none;
    width: 90%;
    height: auto;
    position: relative;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    text-align: center; /*  Добавьте  text-align: center */

    background-color: rgba(157, 157, 161,0.39);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

                .content_vid_new {
    border: none;
    width: 85%;
    flex-wrap: wrap;
    position: relative;
    margin-top: 0px;
    display: flex;

    text-align: center; /*  Добавьте  text-align: center */
    overflow: auto;
                    height: 70%;
    background-color: rgba(157, 157, 161,0.39);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


        label {
            font-family: sans-serif;

            margin-bottom: 10px;
        }

        textarea {
            resize: none;
            &.auto {
                overflow-y: hidden;
            }
        }

        textarea {

            -webkit-appearance: none;
            box-sizing: border-box;
            outline: none;
            width: 100%;

            font-size: 14px;
            font-family: sans-serif;
            line-height: 22px;
            padding: 10px 10px;
            border-radius: 15px;
            color: #404660;
            border: none;
            background: #fff;
            transition: box-shadow .25s;
            box-shadow: inset 0 0 0 1px var(--border-color, #E1E6F9), 0 0 0 3px var(--focus-color, transparent);
            &:focus {
                --focus-color: #ECEFFC;
            }
            &:focus,
            &:hover {
                --border-color: #BBC1E1;
            }
        }


        .btn-one {

             font-family: sans-serif;
            text-decoration: none;
            color: #333;
            font-weight: bold;
            border: none;
            border-radius: 15px;
            width: 100%;
            height: 35px;
            cursor: pointer;
            background: rgba(187, 187, 191,0.8);
            transition: 0.3s;

            display: block;

        }

        .btn-one:hover {
            background: rgba(137, 137, 141,0.5);
        }

        .response {

            border: none;
            border-radius: 15px;
            background: #fff;
            padding: 10px 10px;
            line-height: 22px;
            font-size: 14px;
            height: 55px;
            font-family: sans-serif;


        }

        a {
             font-family: sans-serif;
            text-decoration: none;
            color: #333;
            font-weight: bold;
            margin-bottom: 20px;
            transition: 0.3s;
            background-color: rgba(255,255,255,0.5);
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;

            border-radius: 15px;
        }
        a:hover {

    background: rgba(255,255,255,0.8);
}

        .response .loading {
    display: none; /*  Скрываем   по   умолчанию */
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.response .answer {
    display: block;  /*  Отображаем   по   умолчанию */
}

.loader {
  position: absolute;
  top: calc(75% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid rgba(51,51,51,0.42);
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid rgba(51,51,51,0.32);
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid rgba(51,51,51,0.22);
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.container {
    padding: 10px; background-color: rgba(255,255,255,0.32); border-radius: 15px;margin: 5px; height: 170px; width: 170px;

    text-align: center;
    flex-wrap: wrap;
    position: relative;
    overflow: auto;
}
p {
    margin: 0;
}