<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href=
"https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
          rel="stylesheet" />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <h1>Результаты поиска</h1>
    <a href="/" style="margin-bottom: 65px">Главная</a>

        {% if search_results %}

            <div class="content_vid_new_search"> <div class="search-results">
                {% for result in search_results %}
                    <div class="search-result">
                        <div class="container" style="padding: 10px; background-color: rgba(255,255,255,0.32); border-radius: 15px;margin: 5px; height: 170px; width: 170px">
                            {{ result | safe }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        {% else %}
            <p>По вашему запросу ничего не найдено.</p>
        {% endif %}

</body>
</html>